<div class="empty-state empty-state--only-child">
  <p class="empty-state__text">
    Nenhum munícipe cadastrado
  </p>

  <%= link_to I18n.t('helpers.submit.municipe.new_title'),
              new_municipe_path,
              class: "btn btn--primary",
              data: { turbo_frame: dom_id(Municipe.new) } %>
</div>
